<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #0b0c0c;
    color: whitesmoke;
}
.Heading {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    color: #ec7b0b;

}

.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

}
.Card {
    background-color: #a5f5aa;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(125, 95, 95, 0.1);
    padding: 20px;
    text-align: center;
    height: 200px;
    width: fit-content;
    

}

.para {
    font-size: 1.2rem;
    margin-top: 15px;
    color: rgb(10, 8, 12);
    text-align: justify;

}

=======
h1 {
    color: blue;
}
>>>>>>> 1967c4e1e32962795c9f1c44469a8098cec5fc4e
